/* Layout
-----------------------------*/
html, body, #home {
	height: 100%;
	overflow-x: hidden;
}

body {
	background: linear-gradient(50deg, #000000, #333333, #222222, #BDBBBB);
	background-size: 150%, 100%;
	animation: colors 15s ease infinite;
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
	scrollbar-width: thin;          /* "auto" or "thin" */
 	scrollbar-color: grey whitesmoke;   /* scroll thumb and track */
}

/* Barra de navegação
-----------------------------*/
nav.navbar-transparente {
	padding: 15px 0px;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

/* Barra de navegação
-----------------------------*/
/* Works on Edge, and Safari */
body::-webkit-scrollbar {
	width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
	background: grey;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
	background-color: whitesmoke;    /* color of the scroll thumb */
	border-radius: 20px;       /* roundness of the scroll thumb */
	border: 2px solid darkgrey;  /* creates padding around scroll thumb */
}

/* Menu Topo
-----------------------------*/
#Produto {
	margin-top: -100px;
	padding-top: 100px;
}

#Biografia {
	margin-top: -100px;
	padding-top: 100px;
}

#Contato {
	margin-top: -100px;
	padding-top: 100px;
}

.h3logo {
	font-family: pelson;
	font-size: 2.15rem;
	color: whitesmoke;
	margin-top: -13px;
	line-height: 7px;
	letter-spacing: 3px;
}

.h3logomin {
	font-family: pelson;
	font-size: 2rem;
	color: whitesmoke;
	margin-top: -15px;
	line-height: 7px;
	letter-spacing: 2px;
}

.top {
	margin-top: 15px;
	margin-bottom: -7px;
}

.navbar-transparente {
	padding: 15px 0px;
	background: linear-gradient(50deg, #000000, #333333, #222222, #BDBBBB);
	background-size: 150%, 100%;
	animation: colors 15s ease infinite;
	background-attachment: fixed;
}

/* Modal
-----------------------------*/
#msgmodal {
	font-size: 95%;
	position: relative;
	border-radius: 0.50rem;
	color: whitesmoke;
	background-color: rgba(255, 0, 0, 0.836);
}

.colorsim {
	color: black;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.modalbottom {
	margin-bottom: 20px;
}

.h3logomodal {
	font-family: pelson;
	font-size: 2.15rem;
	color: whitesmoke;
	margin-top: -13px;
	line-height: 7px;
	letter-spacing: 3px;
	margin-top: 5px;
}

.h3logominmodal {
	font-family: pelson;
	font-size: 2rem;
	color: whitesmoke;
	margin-top: -15px;
	line-height: 7px;
	letter-spacing: 2px;
	margin-bottom: 20px;
	margin-top: 1px;
}

.idadetop {
	margin-top: 1.50rem;
}

.idade {
	font-size: 110%;
	margin-top: -0.4rem;
	margin-bottom: 1.6rem;
}

.titlemodal {
	padding-top: 14px;
	padding-bottom: 14px;
	background-color: blue;
	color: whitesmoke;
	border-top-left-radius: 0.8rem;
	border-top-right-radius: 0.8rem;
}

.totalmodal {
	border-radius: 1rem;
}

.modal:nth-of-type(even) {
    z-index: 1052 !important;
}

.fade {
	background: linear-gradient(50deg, #000000, #333333, #222222, #BDBBBB);
	background-size: 150%, 100%;
	animation: colors 15s ease infinite;
	background-attachment: fixed;
}

.close {
	color: black;
	font-weight: normal;
	font-size: 20px;
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,0.5);
}

.divisor {
	width: 1px;
	background: white;
	margin: 12px 15px;
}

/* Produto
-----------------------------*/
.product {
	width: 255px;
	height: 255px;
	margin-bottom: 7px;
	margin-top: 7px;
}


.zoom {
	overflow: hidden;
}

.zoom img {
	max-width: 100%;
	-moz-trasition: all 0.3s;
	-webkit-transition:  all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* Capa
-----------------------------*/
.capa {
	text-align: center;
}

.btn-custom {
	color: black;
	border-radius: 500px;
	-webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-roxo {
	background: #7c25f8;
}

.btn-roxo:hover {
	background: #6207e3;
	color: white;
}

.btn-verdec {
	background: #5fdb57;
	border: none;
}

.btn-verdec:hover {
	background: #5fdb57;
	color: whitesmoke;
}

.btn-verde {
	background: none;
	font-size: 20px;
	border: none;
}

.btn-verde:hover {
	background: #5fdb57;
	color: whitesmoke;
	display: block;
	transition-duration: 0.5s;
}

.btn-red {
	background: none;
	font-size: 20px;
	border: none;
}

.btn-red:hover {
	background: rgb(255, 35, 35);
	color: whitesmoke;
	display: block;
	transition-duration: 0.5s;
}

.btn-branco {
	border: 2px solid whitesmoke;
}

.btn-branco:hover {
	background-color: whitesmoke;
	color: black;
}

.imgcarousel {
	width: 18%;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

.imgcarouselmid {
	width: 18%;
	margin-bottom: 60px;
	margin-left: 15px;
	margin-right: 15px;
}

.carousel-control-next, .carousel-control-prev {
	width: 5%;
}

/* Estrutura conteúdos
-----------------------------*/
#servicos {
	background: white;
}

#recursos {
	color: white;
}

#servicos h2, h3 {
	color: #7c25f8;
}

#recursos h2 {
	color: white;
}

#recursos h3 {
	color: #9bf0e1;
}

.textdecoration {
	text-decoration: none;
}

.caixa {
	padding-top: 20px;
	padding-bottom: 20px;
}

.albuns {
	padding: 10px 0;
}

.rotacionar {
	-ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
	padding-left: 80px;
}

/* Rodapé
-----------------------------*/
footer {
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}

footer h4 {
	color: #919496;
	font-size: 0.9em;
	text-transform: uppercase;
}

footer .navbar-nav a {
	color: white;
	font-size: 0.8em;
}

footer .navbar-nav a:hover {
	color: #9bf0e1;
	text-decoration: none;
}

footer ul {
	list-style: none;
}

footer ul li {
	float: right;
	margin: 0 5px;
}

#rodape {
	text-align: center;
	color: whitesmoke;
}

.h3rodape {
	font-family: pelson;
	font-size: 2.15rem;
	color: whitesmoke;
	margin-top: -12px;
	line-height: 7px;
	letter-spacing: 3px;
}

.h3rodapemin {
	font-family: pelson;
	font-size: 2rem;
	color: whitesmoke;
	line-height: 7px;
	letter-spacing: 2px;
}

.rodapeicon {
	margin-top: -20px;
}

/* Tipografia
-----------------------------*/
h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
	color: white;
}

h2 {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3 {
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}



/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.btn-custom {
		margin: 10px 15px;
		font-size: 1em;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	h1 {
		font-size: 3em;
	}
	.btn-custom {
		margin: 10px 15px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	h1 {
		font-size: 4em;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	h1 {
		font-size: 5em;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	h1 {
		font-size: 6em;
	}
}

@keyframes colors {
	0%{
		background-position: 0%, 50%;
	}

	50%{
		background-position: 50%, 100%;
	}

	100%{
		background-position: 0%, 50%;
	}

}

@font-face {
	font-family: pelson;
	src: url(/fonts/pelson.otf);
}
